// Variables
@import "variables";

// Project FAST
@import '~project-fast/src/assets/scss/includes.scss';

// Components
@import 'components/button-container';

.main {
    background: url(../img/bg.jpg) no-repeat top center / cover;
    position: relative;
    min-height: 100vh;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color-base-white,.3);
    }
}